= render 'shared/person_form', form: form, email_hint: defined?(email_hint) ? email_hint : nil

.row
  = form.input_div :time_zone
  = form.input_div :date_format, type: :select, values: [['2010-02-15', 'db'], ['15 Feb 2010', '%d %b %Y']]
