%nav.top-bar(data-topbar role="navigation")
  %ul.title-area
    %li.name
      %h1= link_to _("Duckbill"), root_path
    -# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    %li.toggle-topbar.menu-icon
      %a(href="#")
        %span Menu
  %section.top-bar-section
    /
      Right Nav Section -- we're not using this at the moment.
      %ul.right
        %li.active
          %a(href="#") Right Button Active
        %li.has-dropdown
          %a(href="#") Right Button Dropdown
          %ul.dropdown
            %li(a href="#") First link in dropdown
            %li.active
              %a(href="#") Active link in dropdown

    / Left Nav Section
    = render_navigation