@import './header';
@import 'custom_row';

.pdf-controls{
  @media print {
    display: none;
  }

  .view {
    @include button();
  }
}

.invoice {
  .header {
    font-weight: bolder;
  }

  .user, .number-and-date, .client, .project {
    @include grid-column(6);
  }

  table {
    @include custom-row;

    &.time_entries {
      border-collapse: collapse;

      tr {
        border-bottom: {
          style: solid;
          color: black;
        }
        border-bottom-width: rem-calc(1);
        @media print {
          border-bottom-width: rem-calc(0.5);
        }

      }
      .date {
        @include grid-column(3);
        @media #{$large-up} {
          @include grid-column(2);
        }
      }
      .description {
        @include grid-column(3);
      }
      .hours {
        @include grid-column(2);
        @media #{$large-up}, print {
          @include grid-column(1);
        }
      }
      .notes {
        @include grid-column(4, $last-column: true);
        @media #{$large-up} {
          @include grid-column(6, $last-column: true);
        }
        @media print {
          @include grid-column(5, $last-column:true)
        }
      }
    }
  }
}