#flash {
  $flash-alert-color: lighten($duck-orange, 15%);
  $flash-alert-icon-color: darken($duck-orange, 5%);

  $flash-notice-color: lighten($duck-yellow, 15%);
  $flash-notice-icon-color: darken($duck-yellow, 25%);

  $flash-padding: rem-calc(2);

  @mixin flash($bg, $padding: $flash-padding) {
    @include panel($bg: $bg, $padding: $padding);
  }

  .alert {
    @include flash($bg: $flash-alert-color);

    span {
      @extend .fi-alert;
      color: $flash-alert-icon-color;
    }
  }

  .notice {
    @include flash($bg: $flash-notice-color);

    span {
      @extend .fi-info;
      color: $flash-notice-icon-color;
    }
  }
}